.nav__sticky {
    width: 100%;
    top: 0;
    background-color: var(--clr-china-ivory);
    position: sticky;
}

.nav__ul {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav__li {
    list-style-type: none;
    margin-right: 2rem;
}

.btn {
    /* padding: 43px; */
    color: var(--bunker);
    font-size: small;
    text-decoration: none;
}

.btn:hover {
    color: var(--clr-smalt-blue);
}
