* {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--clr-china-ivory);
}

:root {
  /* pallete */
  --clr-china-ivory: #FCFFE7;
  --clr-bunker: #222831;
  --clr-smalt-blue: #4F8A8B;
  --clr-very-soft-cyan: #BAD7E9;
}
